body {
    margin-top: 200px;
    background-image: url('https://wallpapercave.com/wp/kSQdCxM.jpg');
    font-family: 'Armata';
}

.js-container {
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;
    border: solid silver 1px;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
 }

 h2 {
     color: white;
 }
#x {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position:relative;
    bottom: 100px;
    
}

.start-over {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}

a {
    text-decoration:  none;
}
 .centered {
     text-align: center;
 }
 
 .popup {
     display: none;
     
     
 }
 .popup-body {
     margin-bottom: 80px;
 }
 
 .popup.show {
     display: block;
 }
 
 .hide {
     display: none;
 }
 
 h1 {
     font-family: 'Days One';
 }
 
 
 .centered {
     text-align: center;
 }
 
 .popup-hidden {
     display:none;
 }
 
 .start-quiz, .js-question-submit {
     display: block;
     border-radius: 10px;
     background-color: rgb(29,32,67);
     color: white;
     margin: 20px auto;
     font-family: 'Armata';
     font-size: 25px;
     height: 45px;
     padding: 5px;
 }
 
 input[type="radio"] {
     margin: 10px;
     transform: scale(1.5);
 }

 .result {
     color: black;
 }